@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.signin-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-container .cl-footer {
  display: none;
}

.navbar-container {
  position: sticky;
  display: flex;
  top: 0px;
  z-index: 100;
  width: 100%;
  background: #151135;
  padding: 10px 32px;
  border-bottom: 1px solid #ebecf0;
}

.dashboard-container {
  padding: 20px;
  background-color: #fff;
  width: 100%;
}

.content-create-container {
  width: 75%;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  margin-top: 30px;
  /* overflow: scroll; */
  /* height: 100vh; */
}

.content-container {
  width: 100%;
  background-color: rgb(246, 248, 249);
  /* height: 100vh; */
  /* overflow-x: hidden;
  overflow-y: auto; */
  display: flex;
  justify-content: center;
}

/* loder div */
.loader {
  width: 40px;
  height: 20px;
  --c: no-repeat radial-gradient(farthest-side, #000 93%, #0000);
  background: var(--c) 0 0, var(--c) 50% 0;
  background-size: 8px 8px;
  position: relative;
  clip-path: inset(-200% -100% 0 0);
  animation: l6-0 1.5s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background: #000;
  left: -16px;
  top: 0;
  animation: l6-1 1.5s linear infinite,
    l6-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0 0 auto auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  animation: l6-3 1.5s linear infinite;
}
@keyframes l6-0 {
  0%,
  30% {
    background-position: 0 0, 50% 0;
  }
  33% {
    background-position: 0 100%, 50% 0;
  }
  41%,
  63% {
    background-position: 0 0, 50% 0;
  }
  66% {
    background-position: 0 0, 50% 100%;
  }
  74%,
  100% {
    background-position: 0 0, 50% 0;
  }
}
@keyframes l6-1 {
  90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(15px);
    left: calc(100% - 8px);
  }
}
@keyframes l6-2 {
  100% {
    top: -0.1px;
  }
}
@keyframes l6-3 {
  0%,
  80%,
  100% {
    transform: translate(0);
  }
  90% {
    transform: translate(26px);
  }
}

.loader-cotainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-10 {
  margin-top: 10px;
}

.tab {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  font-family: "inherit";
  color: #ecebf1;
}

.menu-item {
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "inherit";
  color: rgb(122 110 254) !important;
}

.tab.active {
  background: rgb(255 255 255);
  font-size: 16px;
  font-weight: 700;
  font-family: "inherit";
  color: #271259;
}

.tab.active:hover {
  background: rgb(255, 255, 255, 0.8);
  color: #271259;
}

.contact-wrapper {
  width: 100%;
}

.contact-content {
  padding: 10px 32px;
}

.contact-header {
  display: flex;
  align-items: center;
}

.contact-header-title {
  font-size: 24px;
  font-weight: 500;
  font-family: "inherit";
  padding-bottom: 5px;
}

.search-container {
  flex-grow: 1;
  padding-left: 20px;
}

.contact-add-button {
  background: #6b47c3;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-family: "inherit";
  cursor: pointer;
}

.contact-submit-button {
  background: #6b47c3;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-family: "inherit";
  cursor: pointer;
}

.associate-add-button {
  background: #6b47c3;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-family: "inherit";
  cursor: pointer;
  margin-left: 10px;
}

.contact-body {
  margin-top: 20px;
}

.ant-btn-primary {
  color: #fff;
  background: #1677ff;
}

.company-address-heading {
  font-size: 20px;
  font-weight: 700;
  font-family: "inherit";
  /* color: #6B47C3; */
  padding-bottom: 10px;
}

.ant-table-thead > tr > th {
  background-color: #eadcdc !important;
}