.agent-solution {
  width: 100%;
  min-height: 100vh;

  .section-1,
  .section-2 {
    background-color: #424c56;
    height: 100vh;
  }

  .section-3 {
    background-color: #2e3842;
    height: 100vh;
  }

  .section-1 {
    border-right: 6px solid #545e6a;
  }

  .ant-tabs-tab-btn {
    color: #fff !important;
    font-weight: 600;
    font-size: 12px;
  }

  .ant-tabs-nav {
    padding: 0 10px;
  }

  // right section
  .right-section {
    padding: 6px;
  }
}
