.agent-solution {
  width: 100%;
  min-height: 100vh;

  .section-1,
  .section-2 {
    background-color: #424c56;
    height: 100vh;
  }

  .section-3 {
    background-color: #424c56;
    height: 100vh;
  }

  .section-1 {
    border-right: 6px solid #545e6a;
  }

  .ant-tabs-tab-btn {
    color: #fff !important;
    font-weight: 600;
    font-size: 12px;
  }

  .ant-tabs-nav {
    padding: 0 10px;
  }

  // right section
  .right-section {
    padding: 6px;
  }

  .form-label-agent {
    color: #24abed;
    font-weight: 600;
  }

  .form-label-value {
    color: #fff;
    font-weight: 600;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .row-div {
    display: flex;
  }

  .box-div {
    width: 33.33%;
    height: 100px;
    border: 1px solid #545e6a;
    padding: 20px;
    margin: 5px;
  }

  .label-txt {
    font-weight: 700;
    color: #14bde6;
    text-align: right;
    width: 100%;
    font-size: 13px;
  }

  .value-txt {
    font-weight: 700;
    color: #fff;
    padding-left: 20px;
    width: 100%;
    font-size: 12px;
  }
}
