.datepicker-wrapper {
  .datepicker-comp {
    border: 1px solid #aeaeae;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px #e9e9e9;
    font-size: 14px;
    line-height: 19px;
    padding: 6px 10px 5px;
  }

  .react-datepicker-wrapper,
  .react-datepicker__input-container,
  .datepicker-comp {
    &:focus-visible {
      outline: transparent !important;
    }
  }

  .react-datepicker {
    font-size: 14px;
  }

  .react-datepicker__month-wrapper,
  .react-datepicker__quarter-wrapper {
    display: flex;
    padding: 10px;
  }

  .react-datepicker__year-wrapper {
    display: unset;
  }

  .react-datepicker__month .react-datepicker__month-text,
  .react-datepicker__month .react-datepicker__quarter-text,
  .react-datepicker__year .react-datepicker__year-text {
    display: inline-block;
    width: 4rem;
    margin: 6px;
    padding: 6px;
  }
}
