.edit-container {
  display: flex !important;
  align-items: center;
}

.editable {
  cursor: pointer;
  font-size: 23px;
  color: #323232;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-in-place {
  display: block;
  width: 400px;
  overflow: auto;
  padding: 0 0 10px 0;

  &.active {
    overflow: visible;
  }
}
